/* logpie profile, including color, background color, font, text-layout, border...*/
.black {
	color: #000000;
}

.grey {
	color: #666666;
}

.light-grey {
	color: #999999;
}

.white {
	color: #FFFFFF;
}

.blue {
	color: #4D88FF;
}

.green {
	color: #8DC26F;
}

.red {
	color: #FF5F6D;
}

.purple {
	color: #D04ED6;
}

.bg-white {
	background-color: #FFFFFF;
}

.bg-navy {
	background-color: #273444;
}

.bg-dark-grey {
	background-color: #D7D7D7;
}

.bg-grey {
	background-color: #999999;
}

.bg-light-grey {
	background-color: #F2F2F2;
}

.bg-blue-grey {
	background-color: #EFF2F7;
}

.bg-blue {
	background-color: #4D88FF;
}

.bg-green {
	background-color: #8DC26F;
}

.bg-yellow {
	background-color: #EEA849;
}

.logpie-font-family {
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", Arial, "Microsoft YaHei", sans-serif;
}

.font-extra-small {
	font-size: 11px;
}

.font-small {
	font-size: 12px;
}

.font-median {
	font-size: 14px;
}

.font-large {
	font-size: 16px;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
	padding-left: 10px;
}

.text-right {
	text-align: right;
}

.text-omit {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.border {
	border: 1px solid #CCCCCC;
}

.border-top {
	border-top: 1px solid #CCCCCC;
}

.border-left {
	border-left: 1px solid #CCCCCC;
}

.border-right {
	border-right: 1px solid #CCCCCC;
}

.border-bottom {
	border-bottom: 1px solid #CCCCCC;
}

.no-border {
	border: none;
}

.btn {
	margin-left: auto;
	margin-right: auto;
	color: #FFFFFF;
	text-align: center;
	border-radius: 4px;
	cursor: pointer;
}

.tag {
	width: 40px;
	height: 14px;
	text-align: center;
}

#mask {
	position: absolute;
	z-index: 3;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	background-color: #999999;
	filter: alpha(opacity=70);
	opacity: 0.7;
	display: none;
}

.hide {
	display: none;
}

.pointer {
	cursor: pointer;
}