<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div id="popup_edit_client" class="popup-div hide bg-white">
			<div class="popup-tab border-bottom">
				<a class="selected">修改用户</a><img id="dismiss_edit_client" th:src="@{/img/close.svg}" class="pointer" style="margin-left: 415px;"/>
				<div class="four-digits-bar bg-blue"></div>
			</div>
			<div class="four-columns">
				<form id="form_edit_client" th:action="@{/{path}/clients/edit(path=${shop.path})}" th:object="${edit_client}" method="post">
					<fieldset>
						<table class="no-border text-left">
							<tr>
								<td>真实姓名<span class="required">*</span></td>
								<td><input type="text" id="edit_name" th:field="*{name}"/></td>
								<td><div>微信名<span class="required">*</span></div></td>
								<td><input type="text" id="edit_wechat_name" th:field="*{wechatName}"/></td>
							</tr>
							<tr>
								<td>淘宝号</td>
								<td><input type="text" id="edit_taobao_name" th:field="*{taobaoName}"/></td>
								<td><div>微信号</div></td>
								<td><input type="text" id="edit_wechat_id" th:field="*{wechatId}"/></td>
							</tr>
							<tr>
								<td>手机号</td>
								<td><input type="text" id="edit_phone" th:field="*{phone}"/></td>
								<td><div>备注</div></td>
								<td><input type="text" id="edit_note" th:field="*{note}"/></td>
							</tr>
						</table>
						<input id="edit_id" class="hide" th:field="*{id}"/>
						<div class="btn confirm-btn bg-green" style="width: 480px;" onclick="document.getElementById('form_edit_client').submit();">确定</div>
					</fieldset>
				</form>
			</div>
		</div>
	</body>
</html>