<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div id="popup_create_client" class="popup-div hide bg-white">
			<div class="popup-tab border-bottom">
				<a href="">创建订单</a><a href="">创建包裹</a><a href="">创建商品</a><a class="selected">创建用户</a><img id="dismiss_create_client" th:src="@{/img/close.svg}" class="pointer" style="margin-left: 190px;"/>
				<div class="four-digits-bar bg-blue" style="margin-left: 228px;"></div>
			</div>
			<div class="four-columns">
				<form id="form_create_client" th:action="@{/{path}/clients/create(path=${shop.path})}" method="post" th:object="${new_client}">
					<fieldset>
						<table class="no-border text-left">
							<tr>
								<td>真实姓名<span class="required">*</span></td>
								<td><input name="name" type="text" th:field="*{name}"/></td>
								<td><div>手机号<span class="required">*</span></div></td>
								<td><input name="phone" type="text" th:field="*{phone}"/></td>
							</tr>
							<tr>
								<td>微信名<span class="required">*</span></td>
								<td><input name="wechatName" type="text" th:field="*{wechatName}"/></td>
								<td><div>微信号</div></td>
								<td><input type="text" th:field="*{wechatId}"/></td>
							</tr>
							<tr>
								<td>备注</td>
								<td colspan="3"><input type="text" th:field="*{note}"/></td>
							</tr>
						</table>
						<div id="submit_btn_create_client" class="btn confirm-btn bg-green" style="width: 480px;">确定</div>
					</fieldset>
				</form>
			</div>
		</div>
	</body>
</html>