<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title th:text="${shop.name}"></title>
		<link type="text/css" rel="stylesheet" th:href="@{/css/config.css}"/>
		<link type="text/css" rel="stylesheet" th:href="@{/css/reset.css}"/>
		<link type="text/css" rel="stylesheet" th:href="@{/css/header.css}"/>
		<link type="text/css" rel="stylesheet" th:href="@{/css/aside.css}"/>
		<link type="text/css" rel="stylesheet" th:href="@{/css/main.css}"/>
		<link type="text/css" rel="stylesheet" th:href="@{/css/form.css}"/>
	</head>
	<body class="logpie-font-family font-median bg-light-grey">
		<div th:replace="header::title(${shop.name},'用户管理','用户列表','')"></div>
		<div th:replace="aside::contents(3)"></div>
		<div class="main">
			<div class="main-tab light-grey border bg-white">
				<span class="blue">用户列表</span><span>用户分析</span>
				<div id="btn_create_client" class="btn create-btn font-small white bg-blue">创建用户</div>
				<div id="main_selected_bar" class="bg-blue" style="width: 56px;"></div>
			</div>
			<div class="table-content border-left border-right bg-white" style="overflow-y: auto;">
				<table id="table_clients" class="font-small text-center">
					<thead>
						<tr class="border-bottom light-grey bg-light-grey">
							<th>用户编号</th>
							<th>用户姓名</th>
							<th style="width: 150px;">微信名</th>
							<th>微信号</th>
							<th>淘宝号</th>
							<th>常用地址</th>
							<th>手机号</th>
							<th style="width: 140px;">备注</th>
							<th style="width: 70px;">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr class="border-bottom" th:each="client,iterStat:${clients}" th:id="'row-id-' + ${iterStat.index}" th:unless="${#lists.isEmpty(clients)}">
							<td class="border-right id" th:text="${client.id}"></td>
							<td th:text="${client.name}"></td>
							<td th:text="${client.wechatName}"></td>
							<td th:text="${client.wechatId}"></td>
							<td th:text="${client.taobaoName}"></td>
							<td><div class="dropdown font-extra-small blue" style="margin-left: 20px;">地址管理<img th:src="@{/img/array_down.svg}" class="img-updown"/></div></td>
							<td th:text="${client.phone}"></td>
							<td class="border-right" th:text="${client.note}" style="padding-left: 5px; padding-right: 5px;"></td>
							<td class="edit"><div class="btn action-btn font-small white bg-grey">修改</div></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div th:replace="footer::page(2,2)"></div>
		</div>
		<div th:replace="client/form_create::#popup_create_client(${new_client})"></div>
		<div th:replace="client/form_edit::#popup_edit_client(${edit_client})"></div>
		<div th:replace="address/create_address::#popup_create_address(${new_address})"></div>
		<div th:replace="address/edit_address::#popup_edit_address(${edit_address})"></div>
		<div id="mask"></div>
		<script th:src="@{/js/jquery-3.1.1.min.js}" type="text/javascript"></script>
		<script th:src="@{/js/global.js}" type="text/javascript"></script>
		<script th:src="@{/js/client.js}" type="text/javascript"></script>
	</body>
</html>