/* logpie aside style */
aside {
	position: absolute;
	width: 160px;
	top: 40px;
	bottom: 0px;
	left: 0px;
}

aside img {
	margin-right: 17px;
}

nav {
	z-index: 1;
	position: absolute;
	width: 160px;
	top: 0px;
	left: 0px;
}

nav img {
	height: 24px;
	width: 24px;
}

nav ul {
	padding: 0px;
	margin: 0px;
}

nav li {
	list-style-type: none;
	padding-left: 30px;
}

nav a {
	line-height: 45px;
}

.selected-mask {
	position: absolute;
	width: 160px;
	height: 45px;
	left: 0px;
	background-color: #3C4858;
	opacity: 0.6;
	filter: alpha(opacity=60);
}

aside .selected-bar {
	z-index: 2;
	position: absolute;
	left: 0px;
	width: 5px;
	height: 25px;
}

hr {
	width: 100px; 
	height: 1px;  
	margin-left:-12px;
	border: none;
	background-color: #e0e6ed;
}

.nav-logout {
	position: absolute;
	width: 160px;
	left: 45px;
	bottom: 5px;
	vertical-align: middle;
}

.nav-logout a {
	line-height: 20px;
	font-size: 12px;
}