.popup-div {
	position: absolute;
	z-index: 4;
	top: 15%;
	left: 30%;
	width: 550px;
}

.popup-tab {
	height: 40px;
	padding-left: 20px;
}

.popup-div a {
	color: #999999;
	line-height: 40px;
	margin-right: 20px;
}

.popup-div a.selected {
	color: #4D88FF;
}

.popup-div .four-digits-bar {
	height: 5px;
	margin-top:  -4px;
	width: 56px;
}

.popup-div img {
	margin-left: 5px;
	width: 18px;
	height: 18px;
}

.popup-div table {
	table-layout: fixed;
	margin: 10px 25px;
	width: 500px;
}

.popup-div tr {
	height: 40px;
}

.popup-div td {
	line-height: 40px;
	padding: 0px;
}

.popup-div input {
	height: 18px;
	border: 1px solid #C0CCDA;
	border-radius: 3px;
	padding: 0px; 
	padding-left: 5px;
}

.popup-div .four-columns td {
	width: 125px;
}

.popup-div .four-columns td div {
	width: 100px;
	margin-left: 25px;
}

.popup-div .four-columns input {
	width: 110px;
}

.required {
	margin-left: 5px;
	color: #EF473A;
}

.search-icon {
	position: absolute;
	width: 16px;
	height: 16px;
	top: 65px;
	left: 124px;
	background-image: url(../img/search.svg);
}

input.checkbox {
	margin-left: 25px;
	margin-right: 5px; 
	height: 12px;
}

.number-input {
	width: 75px;
	padding-right: 12px;
	text-align: right;
}

.popup-div .his-btn {
	width: 80px;
	height: 18px;
	line-height: 18px;
	margin-left: 20px;
	font-size: 11px; 	
	border: 1px solid #4C88FF;
}

.popup-div .shortcut-btn {
	width: 82px;
	height: 18px;
	line-height: 18px;
	margin-left: 26px;
	font-size: 11px; 
	border: 1px solid #EEA849;
}

.popup-div .confirm-btn {
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	border: 1px solid #8DC26F;
}

.popup-div .four-columns .confirm-btn {
	width: 480px;
	margin: 10px 25px 20px;
}

.popup-div .cancel-btn {
	width: 100px;
	height: 20px;
	line-height: 20px;
	margin-top: 12px; 
	font-size: 12px;
	border: 1px solid #999999;
}

.popup-div .unit-icon {
	position: absolute;
	width: 16px;
	height: 16px;
	top: 174px;
	left: 124px;
	font-size: 12px;
	color: #999999;
}

.hover-info {
	position: absolute;
	top: -40px;
	left: -5px;
	font-size: 12px;
	color: #8D919C;
	border: 1px solid #8D919C;
	text-align: left;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #FFFFFF;
	display: none;
}