.popup-div {
	position: absolute;
	z-index: 4;
	top: 15%;
	left: 30%;
	width: 550px;
}

.popup-tab {
	height: 40px;
	padding-left: 20px;
}

.popup-div a {
	color: #999999;
	line-height: 40px;
	margin-right: 20px;
}

.popup-div a.selected {
	color: #4D88FF;
}

.popup-div .four-digits-bar {
	height: 5px;
	margin-top:  -4px;
	width: 56px;
}

.popup-div img {
	margin-left: 5px;
	width: 18px;
	height: 18px;
}

.popup-div table {
	table-layout: fixed;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 550px;
}

.popup-div tr {
	height: 40px;
}

.popup-div td {
	line-height: 40px;
	padding: 0px;
}

.popup-div input {
	height: 18px;
	border: 1px solid #C0CCDA;
	border-radius: 3px;
	padding: 0px; 
	padding-left: 5px;
}

.popup-div input.text-right {
	padding-left: 0px;
	padding-right: 5px;
}

.popup-div .four-columns td {
	width: 25%;
}

.popup-div .four-columns td[colspan="2"] {
	width: 50%;
}

.popup-div .four-columns td[colspan="3"] {
	width: 75%;
}

.popup-div .four-columns td:nth-child(1) {
	padding-left: 25px;
}

.popup-div .four-columns td:nth-child(3) {
	padding-left: 20px;
}

.popup-div .four-columns td input, .popup-div .four-columns td select {
	width: 120px;
}

.popup-div .four-columns td:nth-child(4) input {
	margin-left: -15px;
}

.popup-div .four-columns td[colspan="3"] input {
	width: 380px;
	padding-left: -25px;
}

#search_result {
	position: absolute;
	width: 385px;
	min-height: 80px;
	top: 34px;
	left: 0px;
	z-index: 1;
	border-radius: 3px;
}

#search_result div {
	line-height: 25px;
	padding-left: 5px;
	font-size: 12px;
	cursor: pointer;
}

#search_result div:hover {
	background-color: #D7D7D7;
}


.required {
	margin-left: 5px;
	color: #EF473A;
}

.search-icon {
	position: absolute;
	width: 16px;
	height: 16px;
	top: 65px;
	left: 124px;
	background-image: url(../img/search.svg);
}

input.checkbox {
	margin-left: 25px;
	margin-right: 5px; 
	height: 12px;
}

.number-input {
	width: 75px;
	padding-right: 12px;
	text-align: right;
}

.popup-div .append-div {
	background-color: #F2F2F2;
}

.popup-div .btn {
	height: 18px;
	line-height: 18px;
	width: 90px;
	font-size: 11px;
	color: #FFFFFF;
	margin-left: 0px;
	margin-right: 0px;
}

.popup-div .create-btn {
	background-color: #4D88FF;
	border: 1px solid #4C88FF;
}

.popup-div .cancel-btn {
	background-color: #999999;
	border: 1px solid #999999;
}

.popup-div .his-btn {
	width: 80px;
	margin-left: 20px;
	border: 1px solid #4C88FF;
}

.popup-div .shortcut-btn {
	width: 82px;
	margin-left: 26px;
	border: 1px solid #EEA849;
}

.popup-div .confirm-btn {
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	border: 1px solid #8DC26F;
}

.popup-div .four-columns .confirm-btn {
	width: 500px;
	margin: 10px 25px 20px;
}

.popup-div .unit-icon {
	position: absolute;
	width: 16px;
	height: 16px;
	top: 174px;
	left: 124px;
	font-size: 12px;
	color: #999999;
}

.hover-info {
	position: absolute;
	top: -40px;
	left: -5px;
	font-size: 12px;
	color: #8D919C;
	border: 1px solid #8D919C;
	text-align: left;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #FFFFFF;
	display: none;
}