<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<aside th:fragment="nav(index)" class="white bg-navy">
			<nav>
				<ul>
					<a th:href="@{/order/list}" target="_parent"><li><img th:src="@{/img/nav_order.svg}"/>订单管理</li></a>
					<a th:href="@{/package/list}" target="_parent"><li><img th:src="@{/img/nav_package.svg}"/>物流管理</li></a>
					<a th:href="@{/product/list}" target="_parent"><li><img th:src="@{/img/nav_merchandise.svg}"/>商品管理</li></a>
					<a href=""><li><img th:src="@{/img/nav_customer.svg}"/>用户管理</li></a>
					<a href="" target="_parent"><li><img th:src="@{/img/nav_finance.svg}"/>财务图表</li></a>
					<a href="" target="_parent"><li><img th:src="@{/img/nav_coupon.svg}"/>券码管理</li></a>
					<a href="" target="_parent"><li><img th:src="@{/img/nav_permission.svg}"/>权限管理</li></a>
					<a href="" target="_parent"><li><img th:src="@{/img/nav_price.svg}"/>定价工具</li></a>
					<a href="" target="_parent"><li><img th:src="@{/img/nav_log.svg}"/>系统日志</li></a>
					<a href="" target="_parent"><li><img th:src="@{/img/nav_backup.svg}"/>系统备份</li></a>
				</ul>
			</nav>
			<div class="selected-mask" th:style="'top: '+ (${index}*45) + 'px;'"></div>
			<div class="selected-bar bg-blue" th:style="'top: '+ (${index}*45+10) + 'px;'"></div>
			<section class="nav-logout">
				<hr/>
				<a href=""><img th:src="@{/img/nav_logout.svg}" width="20" height="20"/>登出</a>
			</section>
		</aside>
	</body>
</html>