<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<header th:fragment="title(shop,nav,sub,admin)" class="grey bg-white">
			<span class="header-nav">
				<img th:src="@{/img/header_home.svg}" width="20" height="20"/>
				<span id="header-nav-company" class="black" th:text="${shop}"></span>
				<span id="header-nav-title" th:utext="'> '+${nav}"></span>
				<span id="header-nav-subtitle" class="blue" th:utext="'> '+${sub}"></span>
			</span>
			<div class="header-search-admin">
				<input type="text" name="search_box" placeholder="搜索" class="no-border bg-blue-grey"/>
				<span id="search-img"></span>
				<img th:src="@{/img/nav_permission_grey.svg}" width="20" height="20"/>
				<span>许嘉航&nbsp;-&nbsp;管理员</span>
			</div>
		</header>
	</body>
</html>